#chado_curator-pub_list_pager {
	float:right;
	margin: 5px 10px;
}

#chado_curator-pub_list_update_all,
#chado_curator-pub_list_reset,
#chado_curator-pub_list_previous,
#chado_curator-pub_list_next,
#chado_curator-pub_list_fastbackward,
#chado_curator-pub_list_fastforward {
	float:right;
	margin-bottom: 10px;
	margin-left: 5px;
}

#chado_curator-pub_list_update_all {
	margin-right: 30px;
}

#chado_curator-pub_counter {
	clear: left;
	float:left;
	margin-top:5px;
}

#chado_curator-pub_assignment, #chado_curator-pub_scope, #chado_curator-pub_order {
	float:left;
	margin:10px 20px 0px 0px;
}

.chado_curator_pub_form_item {
	margin-left: 10px;
}

.chado_curator_pub-odd_row {
	background-color: #EEE;
}

.chado_curator_pub-details fieldset, .chado_curator_pub-details fieldset legend {
	border: 0px;
	background-color: unset !important;
	margin-bottom: 0px;
}

#chado_curator_pub_item-files {
	width: 32%;
	float:left;
}

#chado_curator_pub_item-comments {
	width: 32%;
	float: left;
	margin: 0px 0px 0px 20px;
}

#chado_curator_pub_item-history {
	width: 32%;
	float: left;
	margin: 0px 0px 0px 20px;
}

#chado_curator_pub_item-data_summary {
	width: 32%;
	float: left;
	margin: 20px 0px 0px 0px;
}

#chado_curator_pub_item-duplicates {
	width: 32%;
	float: left;
	margin: 20px 0px 0px 20px;
}

#chado_curator_pub_item-future {
	width: 32%;
	float: left;
	margin: 20px 0px 0px 20px;
}

.chado_curator_pub_form_detail_items {
	border:solid #CCC 1px;
	padding: 5px 10px;
}

#chado_curator_pub_detail_row1, #chado_curator_pub_detail_row2 {
	display:flex;
}

.chado_curator_pub_summary_items {
	padding: 10px 20px;
}

.chado_curator_pub_summary_no_results {
	clear:both;
	margin-top: 10px;
}

#chado_curator_pub_item-curator {
	width: 100px;
}

#chado_curator_pub_item-status {
	width: 150px;
}

#chado_curator_pub_item-history .chado_curator_pub_summary_items {
	height: 126px;
	overflow: scroll;
}

#chado_curator_pub_item-files {
	height: 172px;
	overflow: scroll;
}

#chado_curator-pub_criteria {
	float: right;
	width: 350px;
}